snapshots/__diff_output__/homepage.diff.png
snapshots/__diff_output__/login-page.diff.png
snapshots/__diff_output__/wiki.diff.png
snapshots/visual_regerssion.cy.js/__diff_output__/homepage.diff.png
snapshots/visual_regerssion.cy.js/__diff_output__/login-page.diff.png
